@import "./css/scss/mixins/mixins-media";


.wrapper {

    header {
        display: flex;
        flex-direction: column;


        .topbar {
            background-color: var(--color-primary);
            padding: 0.5rem;

            .container {
                .content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .adress {
                        display: none;

                        @include tablet {
                            display: contents;
                        }

                        p {
                            color: white;
                            padding: 0;
                        }
                    }

                    .ext-links {
                        display: flex;

                        a {
                            border-left: 1px solid var(--color-primary-light);
                            border-right: 1px solid var(--color-primary-light);
                            padding-inline: 0.6rem;
                        }
                    }
                }
            }
        }



        .navbar {

            width: 100%;
            height: 60px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .logo {


                a {}
            }

            .links {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                display: none;


                @include tablet {
                    display: flex;
                }

                li {
                    list-style: none;
                }

                a {}
            }

            .btn-search {
                position: absolute;
                top: 0;
                right: 0px;
                padding: 0.6rem;

                @include tablet {
                    position: relative;
                }
            }

            .btn-menu {
                display: block;

                @include tablet {
                    display: none;
                }
            }

        }

        .top-navigation {
            .container {

                .navbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;

                    .logo {
                        align-self: baseline;
                    }

                    .menu-bar {
                        display: block;
                        cursor: pointer;
                    }

                    .navbar-list {
                        // display: none;
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        //position: absolute;
                        width: 100%;
                        justify-content: center;

                        .navlink {}
                    }

                }
            }

            /* 
            @include tablet {
                .container {

                    .navbar {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 15px 0;

                        .logo {}

                        .menu-bar {
                            display: none;
                        }

                        .navbar-list {


                            .navlink {}
                        }

                    }
                }
            } */
        }
    }




    /*HERO SECTION*/
    .hero {
        background-image: url('/images/Hero-home.jpg'); // Se till att sökvägen är korrekt
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;


        @include tablet {
            position: relative;
            z-index: 1;
        }

        .background {







            /*             display: none;
            background-image: url('/images/Hero-home.jpg'); // Se till att sökvägen är korrekt
            background-size: cover;
            background-position: center;

            width: 100%;
            height: 52vh; // Ger full höjd av skärmen
            position: absolute;
            top: 0;
            z-index: 1;

            @include tablet {
                display: block;
            } */
        }

        .container {
            // background-color: rgb(200, 234, 249);

            .hero-content {
                text-align: center;
                position: absolute;
                top: 30%;
                left: 10%;
                width: 50%;



                /*                 width: 100%;
                padding-top: 4rem; */


                @include tablet {
                    /*                     position: relative;
                    z-index: 2; */
                    left: -185px;
                    width: 70%;
                }

                @include desktop {
                    width: 50%;
                    padding-top: 3rem;

                }

                @include ultra-wide {
                    width: 29%;
                }

                .headline {}

                .ingress {}

                div {
                    padding-bottom: 5rem;

                    a {}
                }
            }
        }
    }



    /*ABOUT US SECTION*/
    .about-us {


        .container {

            @include desktop {
                display: flex;
            }

            .content {
                margin-top: 5rem;


                @include desktop {
                    width: 60%;
                    padding-inline: 4rem;
                }

                .headline {



                    h5 {
                        text-align: left;
                    }

                    h2 {
                        text-align: left;
                    }
                }

                .quote {}

                p {}

                .signature-container {
                    .signature {
                        img {}

                        .clarification {
                            .name {}
                        }
                    }
                }

            }


            .form-container {
                border: 1px solid blue;
                width: 470px;
                height: 570px;
                margin: 0 auto;


                @include desktop {
                    position: absolute;
                    right: 0;
                    top: -121px;
                    z-index: 1;
                }
            }
        }
    }


    //********'OUR SERVICES*************

    .our-services {
        background-color: var(--color-gray);


        .container {
            display: flex;
            flex-direction: row;

            .content {
                max-width: 1200px;





                .headline {

                    h2 {
                        width: 90%;
                        margin: 0 auto;
                    }

                }

                .content-grid {
                    display: grid;
                    grid-template-columns: 1fr;
                    column-gap: 5.5rem;
                    row-gap: 2.5rem;

                    @include tablet {
                        grid-template-columns: repeat(2, minmax(250px, 1fr));
                        /* Max 2 kolumner */
                    }

                    @include desktop {
                        grid-template-columns: repeat(3, minmax(250px, 1fr));
                        /* Max 3 kolumner */
                    }



                    .item-container {
                        background-color: var(--color-light);
                        padding-block: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: min-content;
                        margin: 0 auto;


                        h3 {}

                        .services-item-image {}

                        .item-text {
                            padding: 1rem;
                            text-align: left;
                        }
                    }

                }


            }
        }
    }


    //************OUR STORY **************'

    .our-story {
        .container {
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                padding: 3rem;

                .headline {
                    width: 50%;

                    h2 {}
                }

                .section-text {
                    text-align: center;
                }

                .button-contact-us {}
            }

            .our-story-image {

                img {
                    width: 100%;

                }
            }
        }
    }


    .success-stories {
        background-color: var(--color-primary);
        display: flex;
        flex-direction: column;
        // height: 8.8%;


        @include tablet {
            height: 11%;
        }

        @include desktop {
            height: 12%;
        }

        @include ultra-wide {
            height: 14%;
        }

        .container {

            .headline {
                h5 {}

                h2 {
                    color: var(--color-light)
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 4rem;
                width: 300px;
                margin: 0 auto;

                @include tablet {
                    flex-direction: row;
                    width: auto;
                }

                .item-container {
                    h4 {
                        color: var(--color-secondary);
                        font-size: 4rem;
                        font-weight: 500;
                    }

                    p {
                        color: var(--color-light);
                    }
                }
            }
        }

        .success-image {

            margin: 0 auto;
            width: 100%;
            margin-top: 2rem;

            @include tablet {
                width: 50%;
            }

            @include desktop {}

            @include ultra-wide {}


        }
    }





    .our-projects {
        margin-top: 8rem;

        @include desktop {
            margin-top: 25rem;

        }


        .container {
            .headline {
                h5 {}

                h2 {}
            }

            .content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                gap: 1rem;

                @include desktop {
                    gap: 0;
                }

                .item-container {
                    position: relative;

                    img {
                        width: -webkit-fill-available;
                    }

                    .projects-image {}

                    .item-footer {
                        background-color: var(--color-primary);
                        opacity: 0.8;
                        position: absolute;
                        bottom: 0;
                        padding: 0.4rem;
                        width: -webkit-fill-available;

                        h6 {}

                        p {}
                    }
                }
            }
        }
    }





    .partners {
        .container {
            .content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                gap: 1rem;

                .partners-image {}
            }
        }
    }
}