@import "./css/scss/mixins/mixins-media";

/*         
  .top-navigation {
      .container {

          .navbar {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 15px 0;

              .logo {
                  align-self: baseline;
              }
              .menu-bar {
                  display: block;
                  cursor: pointer;
              }

              .navbar-list {
                  // display: none;
                  display: flex;
                  flex-direction: column;
                  list-style: none;
                  //position: absolute;
                  width: 100%;
                  justify-content: center;

                  .navlink {}
              }

          }
      }


      @include tablet{
          .container {

              .navbar {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 15px 0;

                  .logo {}
               .menu-bar {
                  display: none;
              }
                  .navbar-list {


                      .navlink {}
                  }

              }
          }
      }
  } */



.wrapper {

    header {
        display: flex;
        flex-direction: column;


        .top {
            background-color: var(--color-primary);
            padding: 0.5rem;

            .container {
                .content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .adress {
                        display: none;

                        @include tablet {display: contents;}

                        p {
                            color: white;
                            padding:0;
                        }
                    }

                    .ext-links {
                        display: flex;

                        a {
                            border-left: 1px solid var(--color-primary-light);
                            border-right: 1px solid var(--color-primary-light);
                            padding-inline: 0.6rem;
                        }
                    }
                }
            }
        }



        .navbar {

            width: 100%;
            height: 60px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .logo {


                a {}
            }

            .links {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                display: none;


                @include tablet {display: flex;}

                li {
                    list-style: none;
                }

                a {}
            }

            .btn-search {
                position: absolute;
                top: 0;
                right: 0px;
                padding: 0.6rem;

                @include tablet{
                   position: relative;
                }
            }

            .btn-menu {
                display: block;
                @include tablet {display: none;}
            }

        }

        .top-navigation {
            .container {

                .navbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;

                    .logo {
                        align-self: baseline;
                    }

                    .menu-bar {
                        display: block;
                        cursor: pointer;
                    }

                    .navbar-list {
                        // display: none;
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        //position: absolute;
                        width: 100%;
                        justify-content: center;

                        .navlink {}
                    }

                }
            }

            /* 
            @include tablet {
                .container {

                    .navbar {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 15px 0;

                        .logo {}

                        .menu-bar {
                            display: none;
                        }

                        .navbar-list {


                            .navlink {}
                        }

                    }
                }
            } */
        }
    }




    /*HERO SECTION*/
    .hero {


        @include tablet {
            position: relative;
            z-index: 1;
        }

        .background {

            @include tablet {
                background-image: url('/images/Hero-home.jpg'); // Se till att sökvägen är korrekt
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100vh; // Ger full höjd av skärmen
                position: absolute;
                top: 0;
                z-index: 1;
            }
        }

        .container {
            // background-color: rgb(200, 234, 249);

            .hero-content {
                width: 50%;
                padding-top: 4rem;
                padding-left: 2rem;
                position: relative;
                z-index: 2;

                .headline {}

                .ingress {}

                div {
                    padding-bottom: 5rem;

                    a {}
                }
            }
        }
    }



    /*ABOUT US SECTION*/
    .about-us {
        position: absolute;
        z-index: 1;

        .container {
            .content {
                width: 60%;
                padding-top: 5rem;

                .headline {
                    h5 {}

                    h2 {}
                }

                .quote {}

                p {}

                .signature-container {
                    .signature {
                        img {}

                        .clarification {
                            .name {}
                        }
                    }
                }

            }


            .form-container {
                border: 1px solid blue;
                width: 470px;
                height: 570px;
            }
        }
    }


}